<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.phinmaedapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/phinma_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/phinma_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhinmaEdApp"
        tools:replace="android:label,android:theme,android:icon,android:roundIcon"
        tools:targetApi="31"
        android:name=".ApplicationClass">


        <activity
            android:name=".EmailVerificationActivity"
            android:exported="false" />


        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".UpangSignUpActivity"
            android:exported="false" />

        <activity
            android:name=".UpangFifthFloor"
            android:exported="false" />
        <activity
            android:name=".UpangFourthFloor"
            android:exported="false" />
        <activity
            android:name=".UpangThirdFloor"
            android:exported="false" />
        <activity
            android:name=".UpangSecondFloor"
            android:exported="false" />
        <activity
            android:name=".UpangFirstFloor"
            android:exported="false" />
        <activity
            android:name=".UpangLoginActivity"
            android:exported="false" />
        <activity
            android:name=".UpangMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- LAUNCHER Intent Filter (for app icon) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep Link Intent Filter (for Firebase Auth) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="phinmaedapp.firebaseapp.com"
                    android:pathPrefix="/__/auth/action"/>
            </intent-filter>
        </activity>
    </application>

</manifest>